* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    @media (prefers-color-scheme: light) {

        --brand-primary: #2e615e;
        --accent-primary: #C58C2B;
        --bg-primary: #F6FAF9;
        --bg-surface: #FFF;
        --bg-section: #E4F1F0;
        --text-primary: #1D2F2E;
        --text-secondary: #3E605C;
        --text-muted: #6F908E;
        --ui-element-border: #B6D0CD;
        --ui-element-hover: #377874;
        --ul-element-focus-ring: #1E4E4B;
        --status-color-success: #3D9D7D;
        --status-color-warning: #B86C29;
        --status-color-error: #B22925;
        --status-color-info: #2E918C;
        --white: #fff;
        --black: #000;
        --gray: #838383;

    }

    @media (prefers-color-scheme: dark) {
        --brand-primary: #5CB3AD;
        --accent-primary: #E4B33F;
        --bg-primary: #0D1F1D;
        --bg-surface: #132B29;
        --bg-section: #1C3B37;
        --text-primary: #E7F4F4;
        --text-secondary: #B5D3CF;
        --text-muted: #FFFFFF;
        --ui-element-border: #2E5652;
        --ui-element-hover: #70C9C3;
        --ul-element-focus-ring: #96D6D4;
        --status-color-success: #5DC097;
        --status-color-warning: #E1A226;
        --status-color-error: #F15D5E;
        --status-color-info: #63C6C1;
        --white: #fff;
        --black: #000;
        --gray: #838383;
    }

    /* sizing & spacing */

    /* Spacing */
    /* This is the spacing for inbetween components and elements*/
    --xs-spacing: 0.5rem;
    --sm-spacing: 1rem;
    --md-spacing: 1.5rem;
    --lg-spacing: 2rem;
    --xl-spacing: 3rem;
    --list-indent-spacing: 2.5rem;
    /* Font Spacing and Sizing */


    /* Text Sizes */
    --h1size: 3rem;
    --h2size: 2rem;
    --h3size: 1.5rem;
    --h4size: 1.125rem;
    --psize: 1rem;
    --lisize: 1rem;
    --nav-li-a-size: 1.5rem;
    --mobile-li-text: 1.25rem;

    /* Font Spacing */
    --heading-spacing: 0.5rem;
    --heading-line-height: 2rem;
    --body-copy-line-height: 1.6rem;
    --header-kerning: 0.1rem;
    --nav-kerning: 0.2rem;
    --kerning: 0.031rem;

}

@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/NotoSans-VariableFont_wdth\,wght.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/EBGaramond-Italic-VariableFont_wght.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-VariableFont_wght.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-Italic-VariableFont_wght.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    min-height: 100vh;
    background: var(--bg-primary);
    margin: auto;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: var(--brand-primary);
    border-bottom: 2px solid var(--ui-element-border);

    .logo {
        display: block;
        margin-left: 1rem;
    }

    .menu {
        display: none;

        ul {
            li {
                a {
                    color: var(--white);
                    font-weight: 600;
                    letter-spacing: var(--nav-kerning);
                    font-family: 'EB Garamond', Georgia, serif;

                    &:hover,
                    &:active {
                        color: var(--accent-primary);
                    }
                }

            }
        }
    }

    .ham-menu {
        height: 200px;
        width: 200px;
        margin-left: auto;
        position: relative;
        cursor: pointer;

        span {
            height: 30px;
            width: 75%;
            background-color: var(--white);
            border-radius: 25px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
        }

        span:nth-child(1) {
            top: 25%;
        }

        span:nth-child(2) {
            top: 50%;
        }

        span:nth-child(3) {
            top: 75%;
        }

        &.active {

            span {
                background-color: var(--bg-surface);
            }

            span:nth-child(1) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    @media (min-width: 780px) {
        display: flex;
        justify-content: space-between;

        .menu {
            display: flex;
            flex-direction: row;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;

                li {
                    margin: 0 var(--sm-spacing);
                    font-size: var(--nav-li-a-size);
                }
            }
        }

        .ham-menu {
            display: none;
        }
    }

    @media (min-width: 1024px) {
        display: flex;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            li {

                a {
                    font-size: var(--h2size);
                }

                &:hover,
                &:active {
                    color: var(--accent-primary);
                }

            }
        }
    }
}


main {
    margin: auto 2rem;
    max-width: 60rem;


    @media screen and (min-width: 780px) {
        margin: auto 4rem;
        max-width: 70rem;
    }


    @media screen and (min-width: 1024px) {
        max-width: 100rem;
        margin: auto 6rem;
    }
}

section {
    margin-top: var(--xl-spacing);

}

h1,
h2,
h3,
h4 {
    color: var(--text-secondary);
    margin-top: var(--spacing);
    font-family: 'EB Garamond', Georgia, serif;
    letter-spacing: var(--header-kerning);


}

h1 {
    margin-top: var(--lg-spacing);
    font-size: var(--h1size);
}

h2 {
    font-size: var(--h2size);
    margin-top: var(--md-spacing);
}

h2+p {
    margin-top: var(--heading-spacing)
}

h3 {
    font-size: var(--h3size);
    margin-top: var(--sm-spacing);
}

h3+p {
    margin-top: var(--heading-spacing);
}

h4 {
    font-size: var(--h4size);
}

h4+p {
    margin-top: var(--heading-spacing);
}

p {
    font-size: var(--psize);
    margin-top: var(--sm-spacing);
    line-height: var(--body-copy-line-height);
    letter-spacing: var(--kerning);
    max-width: 70ch;
    color: var(--text-primary);
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;

    span {
        font-weight: bold;
        color: var(--text-secondary);
    }


    @media screen and (min-width: 700px) {
        max-width: 80ch;
    }

    @media screen and (min-width: 1024px) {
        max-width: 150ch;
    }
}

/* p+p {
    margin-top: var(--md-spacing);
}
 */

/* div {
    margin-top: var(--xs-spacing);
} */

a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 600;

    a:hover {
        color: var(--accent-primary);
    }

    a:active {
        color: var(--accent-primary);
    }
}



/* a:visited{
    color: var(--accent-primary);
} */

input:focus {
    color: var(--ul-element-focus-ring)
}

ul {
    margin-top: var(--md-spacing);
    margin-left: var(--list-indent-spacing);

    li {
        font-size: var(--lisize);
        line-height: var(--body-copy-line-height);
        color: var(--text-primary);
        font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    }

}

ol {
    margin-top: var(--md-spacing);
    margin-left: var(--list-indent-spacing);

    li {
        font-size: var(--lisize);
        margin-top: var(--sm-spacing);
        line-height: var(--body-copy-line-height);
        color: var(--text-primary);
        font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    }
}



img {
    width: 100%;
    margin-top: var(--xs-spacing);
}

video {
    height: auto;
    width: 100%;
    margin-top: var(--xs-spacing);
}

picture+p {
    margin-top: var(--xs-spacing);
}

/* p+picture {
    margin-top: var(--xs-spacing);
} */

/* Spacing Classes */
.l-zero {
    margin: 0;
}

.l-one {
    margin-top: 1rem;
}

.l-two {
    margin-top: 2rem;
}

footer {
    background-color: var(--brand-primary);
    margin-top: var(--lg-spacing);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: 2px solid var(--ui-element-border);

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 0 2rem 0 0;

        li {
            a {
                color: var(--white);
            }
        }
    }

    svg {
        margin-left: 1.5rem;

        &:hover,
        &:active {
            color: var(--accent-primary);
        }
    }

    .insta,
    .linked-in {
        width: 1;
        height: 1;
    }

    @media screen and (min-width: 700px) {
        ul {
            svg {
                margin-left: 1.5rem;

                &.hover,
                &.active {
                    color: var(--accent-primary);


                }
            }

            .insta,
            .linked-in {
                width: 75px;
                height: 75px;
            }
        }

    }

}

/* off-screen-menu */
.off-screen-menu {
    background-color: var(--brand-primary);
    border-left: 1px solid var(--ui-element-border);
    height: 100vh;
    width: 100%;
    max-width: 375px;

    position: fixed;
    top: 0;
    right: -450px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    text-align: justify;
    transition: right 0.3s ease;
    margin: 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0 1rem;

        li {
            font-size: var(--nav-li-a-size);
            margin-top: var(--lg-spacing);
            text-decoration: underline var(--bg-surface);
            width: 100%;

            a {

                &:hover,
                &:active {
                    color: var(--accent-primary);
                }
            }
        }
    }

    &.active {
        right: 0;
    }
}

/* This controls the grid on the homepage */
.hero-section {
    display: grid;
    grid-template-columns: 1fr;

    /* .hero-item {
        overflow: hidden;
        position: relative;

        h2 {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            color: var(--white);
        }

        img {
            display: block;
            width: 100%;
            transition: transform .3s ease;

            &:hover {
                transform: scale(1.1);
                background-color: red;
            }
        }
    } */

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}


/* This controls the grid on the Case Studies page */
.case-studies-container {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    /* @media screen and (width >=1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    } */
}





/* Portfolio Page Specific Styling */
.portfolio-container {

    margin-top: var(--xs-spacing);

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        .portfolio-container-item {
            img:last-child {
                margin: 0;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}

/* About Page Specific Styling */

.about-container {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

    }
}

.about-group {
    background-color: var(--bg-section);
    border: 2px solid var(--ui-element-border);
    padding: 0.5rem 1rem;
    margin-top: var(--md-spacing);

    h3 {
        margin: 0;
    }
}

.about-list {
    /* margin-left: var(--list-indent-spacing); */

    li::marker {
        color: var(--accent-primary);
    }

    li {
        margin: var(--list-indent-spacing);
    }
}


/* Hobbies Page Specific Styling */
/* This controls the anchor tags at the top of the hobbies page. */
.hobbies-nav {
    background-color: var(--bg-primary);
    border: 2px solid var(--ui-element-border);

    ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        list-style: none;
        padding: 0.5rem 0 0.5rem 0.5rem;


        li {
            margin-top: var(--sm-spacing);
            font-size: var(--h4size);




            a {
                color: var(--text-secondary);
                font-weight: bold;
            }


        }

        li:nth-child(1) {
            margin-top: 0;
        }
    }

    @media screen and (min-width: 500px) {
        /* background-color: var(--bg-section); */
        border-bottom: 2px solid var(--ui-element-border);
        margin-top: var(--md-spacing);

        ul {
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            gap: 2rem;
            list-style: none;

            li {
                margin: 0;
                font-size: var(--h4size);

                a {
                    color: var(--text-secondary);
                }
            }
        }
    }
}

/* This controls the ingredients section including the checkboxes */
.directions-container {

    div {
        .directions-container-styling {
            ul {
                margin: 0;
            }

            ul li:first-child {
                margin: 0;
            }
        }
    }



    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

.directions-container-styling {
    background-color: var(--bg-surface);
    padding: 0.5rem 1rem;
    border: 1px solid var(--ui-element-border);
    margin-top: var(--heading-spacing);

    h3 {
        margin: 0;
    }

    ul {
        list-style: none;

        li {
            margin-top: 1rem;

        }

        input[type="checkbox"] {
            accent-color: var(--accent-primary);
            margin-right: 1rem;
            transform: scale(1.5);
        }

    }
}

/* This controls the instructions container */
.instructions-container-styling {
    ol {
        list-style: none;
        margin-top: var(--heading-spacing);

        li {
            margin-top: 0.5rem;

            span {
                background-color: var(--bg-surface);
                border: 2px solid var(--ui-element-border);
                padding: 0.2rem;
                font-weight: bold;
                font-size: var(--mobile-li-text);
                display: block;
                color: var(--text-primary);
            }
        }
    }
}

/* This controls the unordered list in the retro section */

.retro-grid-container {

    margin-top: var(--sm-spacing);

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

.retro-grid-item-1 {

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / 3;
        border: 2px solid var(--ui-element-border);
        padding: 0 0.5rem;
        background-color: var(--bg-section);
    }
}

.retro-grid-item-2 {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / 3;
        border: 2px solid var(--ui-element-border);
        padding: 0 0.5rem;
        background-color: var(--bg-section);

    }
}

.retro-grid-item-3 {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / 3;
        border: 2px solid var(--ui-element-border);
        padding: 0 0.5rem;
        background-color: var(--bg-section);

        img {
            margin: 0;
        }

        p {
            padding-left: 0.5rem;
        }

    }
}

.retro-grid-item-4 {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / 3;
        border: 2px solid var(--ui-element-border);
        padding: 0 0.5rem;
        background-color: var(--bg-section);

    }
}

@media screen and (min-width: 700px) {

    ul {
        list-style: decimal;
        margin: 0 2rem 2rem 2rem;
        display: inline;

        li {
            margin-top: var(--md-spacing);
        }
    }
}

/* These selectors are used for the grid for the section mtg */

.mtg-hero {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        margin: 0;
    }
}


.mtg-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    align-items: start;
    margin-top: var(--xs-spacing);

    .mtg-grid-item-1,
    .mtg-grid-item-2,
    .mtg-grid-item-3 {

        display: grid;
        gap: var(--sm-spacing);

        .mtg-grid-item-content {
            display: grid;
            gap: 0.5rem;
            align-items: start;

            p {
                grid-column: span 2;
                margin: 0;
            }

            ul {
                list-style: none;
                margin: 0;
            }

            img {
                width: 15px;
                height: 15px;
                margin: 0;
            }
        }

    }

    .mtg-grid-item-4,
    .mtg-grid-item-5 {
        display: grid;
        gap: 0.5rem;

        p {
            margin: 0;
        }

        ul {
            list-style: none;
            margin: 0;
        }
    }

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--sm-spacing);

        .mtg-grid-item-1,
        .mtg-grid-item-2,
        .mtg-grid-item-3,
        .mtg-grid-item-4 {
            display: grid;
            gap: 0.5rem;

            .mtg-grid-item-content {
                p {
                    grid-column: span 2;
                    margin: 0;
                }

                ul {
                    margin: 0;

                    li {
                        margin: 0;
                    }
                }
            }
        }

        .mtg-grid-item-4,
        .mtg-grid-item-5 {
            display: grid;
            gap: 0.5rem;

            p {
                margin: 0;
            }

        }
    }

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--sm-spacing);

        .mtg-grid-item-1,
        .mtg-grid-item-2,
        .mtg-grid-item-3,
        .mtg-grid-item-4 {
            display: grid;
            gap: var(--sm-spacing);


            .mtg-grid-item-content {
                grid-template-columns: repeat(2, 1fr);
                align-items: start;
                grid-template-rows: auto auto;


                p {
                    grid-column: span 2;
                    margin: 0;
                }

                ul {
                    margin: 0;

                    li {
                        margin: 0;
                    }
                }
            }
        }
    }
}