:root {
    --light-theme-background: #EFF5EC;
    --light-theme-surface: #fff;
    --light-theme-text-color: #363636;
    --light-theme-muted-text-color: #97A1A2;
    --light-theme-accent: #2E605D;
    --light-theme-highliht: #FFD873;
    --dark-theme-background: #0F1A1A; 
    --dark-theme-surface: #152424;
    --dark-theme-text-color: #E6ECEB;
    --dark-theme-muted-text-color: #9AA6A5;
    --dark-theme-accent: #4FA7A1;
    --dark-theme-highlight: #FFD873;  
    --spacing: 1.5rem;
    --xxlarge: 3rem;
    --xlarge: 2rem;
    --large: 1.5rem;
    --medium: 1.125rem;
    --small: 1rem;
    --xsmall: 0.75rem;

}

@font-face {
    font-family: 'Noto Sans';
    src: url(/fonts/NotoSans-VariableFont_wdth\,wght.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(/fonts/NotoSans-Italic-VariableFont_wdth\,wght.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url(/fonts/EBGaramond-VariableFont_wght.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url(/fonts/EBGaramond-Italic-VariableFont_wght.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    margin: 0 30px;
}

h1,
h2,
h3,
h4 {
    font-family: 'EB Garamond', serif;
    margin-top: var(--spacing);
}

p {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: var(--spacing);
}

ul{
    li{
        margin: 0 30px;
    }
}

footer{
    background-color: var(--light-theme-accent);
}

div.nav {
    display: flex;

    div {
        flex-direction: row;
        align-items: flex-start;

        ul {
            list-style: none;

            li {
                flex-direction: row;
                align-items: flex-end;
            }
        }
    }
}

.nav{
    background-color: var(--light-theme-accent);
}
    
.navlist{
    .logo{
        display: flex;
        ul{
            flex-direction: row;
                justify-content: start;
        }
    }
}

.navlist{
    display: flex;
    .navlist{
        ul{
            flex-direction: row;
                justify-content: end;
            li{
                list-style: none;
            }
        }
    }
}

.placeholder-image{
    background-color: gray;
    width: 300px;
    height: 200px;
}