* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color palette */
    --light-brand-primary: #2e615e;
    --light-accent-primary: #C58C2B;
    --light-bg-primary: #F6FAF9;
    --light-bg-surface: #FFF;
    --light-bg-section: #E4F1F0;
    --light-text-primary: #1D2F2E;
    --light-text-secondary: #3E605C;
    --light-text-muted: #6F908E;
    --light-ui-element-border: #B6D0CD;
    --light-ui-element-hover: #377874;
    --light-ul-element-focus-ring: #1E4E4B;
    --light-status-color-success: #3D9D7D;
    --light-status-color-warning: #B86C29;
    --light-status-color-error: #B22925;
    --light-status-color-info: #2E918C;
    --white: #fff;
    --black: #000;
    --gray: #838383;

    --dark-brand-primary: #5CB3AD;
    --dark-accent-primary: #E4B33F;
    --dark-bg-primary: #0D1F1D;
    --dark-bg-surface: #132B29;
    --dark-bg-section: #1C3B37;
    --dark-text-primary: #E7F4F4;
    --dark-text-secondary: #B5D3CF;
    --dark-text-muted: #FFFFFF;
    --dark-ui-element-border: #2E5652;
    --dark-ui-element-hover: #70C9C3;
    --dark-ul-element-focus-ring: #96D6D4;
    --dark-status-color-success: #5DC097;
    --dark-status-color-warning: #E1A226;
    --dark-status-color-error: #F15D5E;
    --dark-status-color-info: #63C6C1;

    /* sizing & spacing */

    /* Spacing */
    /* This is the spacing for inbetween components */
    --xs-spacing: 0.5rem;
    --sm-spacing: 1rem;
    --md-spacing: 1.5rem;
    --lg-spacing: 2rem;
    --xl-spacing: 3rem;

    --spacing: 1.5rem;

    --list-indent-spacing: 2.5rem;
    /* Font Spacing and Sizing */


    /* Text Sizes */
    --h1size: 3rem;
    --h2size: 2rem;
    --h3size: 1.5rem;
    --h4size: 1.125rem;
    --psize: 1rem;
    --lisize: 1rem;
    --nav-li-size-mobile: 1.5rem;
    --mobile-li-text: 1.25rem;

    /* Font Spacing */
    --heading-spacing: .5rem;
    --heading-line-height: 2rem;
    --body-copy-line-height: 1.7rem;
    /* --list-item-line-height: 1.5rem; */

    /* --p-line-height: 1.7rem; */
    /* --h2-spacing: 1.25rem;
    --h3-spacing: 1rem;
    --h4-spacing: .85rem; */
    /* --line-height: 1.5rem; */

}

@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/NotoSans-VariableFont_wdth\,wght.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/EBGaramond-Italic-VariableFont_wght.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-VariableFont_wght.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-Italic-VariableFont_wght.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    min-height: 100vh;
}

/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: var(--light-brand-primary);
    border-bottom: 2px solid var(--light-ui-element-border);

    .logo {
        display: block;
        margin-left: 1rem;

        /* a {

            &:hover,
            &:active {
                color: var(--light-accent-primary);
            }
        } */
    }

    .menu {
        display: none;
    }

    .ham-menu {
        height: 200px;
        width: 200px;
        margin-left: auto;
        position: relative;
        cursor: pointer;

        span {
            height: 30px;
            width: 75%;
            background-color: var(--white);
            border-radius: 25px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
        }

        span:nth-child(1) {
            top: 25%;
        }

        span:nth-child(2) {
            top: 50%;
        }

        span:nth-child(3) {
            top: 75%;
        }

        &.active {

            span {
                background-color: var(--white);
            }

            span:nth-child(1) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    @media (min-width: 780px) {
        display: flex;
        justify-content: space-between;

        .menu {
            display: flex;
            flex-direction: row;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;

                li {
                    margin: 0 var(--sm-spacing);
                    font-size: var(--nav-li-size-mobile);
                }
            }
        }

        .ham-menu {
            display: none;
        }
    }

    @media (min-width: 1024px) {
        display: flex;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            li {

                a {
                    font-size: var(--h2size);
                }

                &:hover,
                &:active {
                    color: var(--light-accent-primary);
                }

            }
        }
    }
}


main {
    margin: 0 var(--spacing);
    max-width: 60rem;

    @media screen and (min-width: 780px) {
        padding: 0 2rem;
    }


    @media screen and (min-width: 1024px) {
        max-width: 120rem;
        padding: 0 2rem;
    }
}

section {
    /* border: solid 2px var(--light-ui-element-border); */
    margin-top: var(--spacing);

    h2 {
        margin: 0;
    }
}

h1,
h2,
h3,
h4 {
    color: var(--light-text-secondary);
    margin-top: var(--spacing);
    font-family: 'EB Garamond', Georgia, serif;


}

h1 {
    font-size: var(--h1size);
}

h2 {
    font-size: var(--h2size);
}

h2+p {
    margin-top: var(--heading-spacing)
}

h3 {
    font-size: var(--h3size);
}

h3+p {
    margin-top: var(--heading-spacing);
}

h4 {
    font-size: var(--h4size);
}

h4+p {
    margin-top: var(--heading-spacing);
}

p {
    font-size: var(--psize);
    margin-top: var(--sm-spacing);
    line-height: var(--body-copy-line-height);
    color: var(--light-text-primary);
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;

    span {
        font-weight: bold;
        color: var(--light-text-secondary);
    }
}

/* div {
    margin-top: var(--xs-spacing);
} */

a {
    color: var(--light-bg-surface);
    text-decoration: none;
}

a:hover {
    color: var(--light-accent-primary);
}

a:active {
    color: var(--light-accent-primary);
}

/* a:visited{
    color: var(--light-accent-primary);
} */

input:focus {
    color: var(--light-ul-element-focus-ring)
}

ul {
    margin: 0;
    margin-top: var(--spacing);
}

ol {
    margin: 0;
    margin-top: var(--spacing);
}

li {
    font-size: var(--lisize);
    line-height: var(--body-copy-line-height);
    color: var(--light-text-primary);
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    margin-top: var(--xs-spacing);
}

video {
    height: auto;
    width: 100%;
    margin-top: var(--xs-spacing);
}

picture+p {
    margin-top: var(--xs-spacing);
}

/* p+picture {
    margin-top: var(--xs-spacing);
} */

footer {
    background-color: var(--light-brand-primary);
    margin-top: var(--lg-spacing);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: 2px solid var(--light-ui-element-border);

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 0 2rem 0 0;
    }

    svg {
        margin-left: 1.5rem;

        &:hover,
        &:active {
            color: var(--light-accent-primary);
        }
    }

    .insta,
    .linked-in {
        width: 1;
        height: 1;
    }

    @media screen and (min-width: 700px) {
        ul {
            svg {
                margin-left: 1.5rem;

                &.hover,
                &.active {
                    color: var(--light-accent-primary);


                }
            }

            .insta,
            .linked-in {
                width: 75px;
                height: 75px;
            }
        }

    }

}

.hidden {
    display: hidden;
}

/* off-screen-menu */
.off-screen-menu {
    background-color: var(--light-brand-primary);
    border-left: 1px solid var(--light-ui-element-border);
    height: 100vh;
    width: 100%;
    max-width: 375px;

    position: fixed;
    top: 0;
    right: -450px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    text-align: justify;
    transition: right 0.3s ease;
    margin: 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0 1rem;

        li {
            font-size: var(--nav-li-size-mobile);
            margin-top: var(--lg-spacing);
            text-decoration: underline var(--light-bg-surface);
            width: 100%;

            a {

                &:hover,
                &:active {
                    color: var(--light-accent-primary);
                }
            }
        }
    }

    &.active {
        right: 0;
    }
}

/* This controls the grid on the homepage */
.hero-seciton {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}


/* This controls the grid on the Case Studies page */
.case-studies-container {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    /* @media screen and (width >=1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    } */
}

.cs-list {
    margin-left: 1.5rem;

    ol {
        margin-top: var(--spacing);

        li {
            margin-top: 1rem;

            line-height: var(--body-copy-line-height);
        }
    }

    @media screen and (min-width: 600px) {
        margin-left: var(--list-indent-spacing);
        max-width: 80%;

        ol {
            margin-top: 1rem;

            li {
                margin-top: 1rem;
                line-height: var(--body-copy-line-height);
            }
        }
    }

}


/* Portfolio Page Specific Styling */
.portfolio-container {

    margin-top: var(--xs-spacing);

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        .portfolio-container-item {
            img:last-child {
                margin: 0;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}

/* About Page Specific Styling */

.about-container {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

    }
}

.about-group {
    background-color: var(--light-bg-section);
    border: 2px solid var(--light-ui-element-border);
    padding: 0.5rem 1rem;
    margin-top: var(--spacing);

    h3 {
        margin: 0;
    }
}

.about-list {
    margin-left: var(--list-indent-spacing);

    li::marker {
        color: var(--light-accent-primary);
    }

    li {
        margin: 0.5rem;
    }
}


/* Hobbies Page Specific Styling */
/* This controls the anchor tags at the top of the hobbies page. */
.hobbies-nav {
    background-color: var(--light-bg-primary);
    border: 2px solid var(--light-ui-element-border);

    ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        list-style: none;
        padding: 0.5rem 0 0.5rem 0.5rem;


        li {
            margin-top: var(--sm-spacing);
            font-size: var(--h4size);




            a {
                color: var(--light-text-secondary);
                font-weight: bold;
            }


        }

        li:nth-child(1) {
            margin-top: 0;
        }
    }

    @media screen and (min-width: 500px) {
        /* background-color: var(--light-bg-section); */
        border-bottom: 2px solid var(--light-ui-element-border);
        margin-top: var(--spacing);

        ul {
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            gap: 2rem;
            list-style: none;

            li {
                margin: 0;
                font-size: var(--h4size);

                a {
                    color: var(--light-text-secondary);
                }
            }
        }
    }
}

/* This controls the ingredients section including the checkboxes */
.directions-container {

    div {
        .directions-container-styling {
            ul {
                margin: 0;
            }

            ul li:first-child {
                margin: 0;
            }
        }
    }



    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

.directions-container-styling {
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border: 1px solid var(--light-ui-element-border);
    margin-top: var(--heading-spacing);

    h3 {
        margin: 0;
    }

    ul {
        list-style: none;

        li {
            margin-top: 1rem;

        }

        input[type="checkbox"] {
            accent-color: var(--light-accent-primary);
            margin-right: 1rem;
            transform: scale(1.5);
        }

    }
}

/* This controls the instructions container */
.instructions-container-styling {
    ol {
        list-style: none;
        margin-top: var(--heading-spacing);

        li {
            margin-top: 0.5rem;

            span {
                background-color: var(--white);
                border: 2px solid var(--light-ui-element-border);
                padding: 0.2rem;
                font-weight: bold;
                font-size: var(--mobile-li-text);
                display: block;
                color: var(--light-text-primary);
            }
        }
    }
}

/* This controls the unordered list in the retro section */

.retro-grid-container {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

.retro-grid-item-1 {

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / 3;
        border: 2px solid var(--light-ui-element-border);
        padding: 0 0.5rem;
        background-color: var(--light-bg-section);
    }
}

.retro-grid-item-2 {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / 3;
        border: 2px solid var(--light-ui-element-border);
        padding: 0 0.5rem;
        background-color: var(--light-bg-section);

    }
}

.retro-grid-item-3 {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / 3;
        border: 2px solid var(--light-ui-element-border);
        padding: 0 0.5rem;
        background-color: var(--light-bg-section);

        img {
            margin: 0;
        }

        p {
            padding-left: 0.5rem;
        }

    }
}

.retro-grid-item-4 {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / 3;
        border: 2px solid var(--light-ui-element-border);
        padding: 0 0.5rem;
        background-color: var(--light-bg-section);

    }
}

@media screen and (min-width: 700px) {

    ul {
        list-style: decimal;
        margin: 0 2rem 2rem 2rem;
        display: inline;

        li {
            margin-top: var(--spacing);
        }
    }
}

/* These selectors are used for the grid for the section mtg */

.mtg-hero {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        margin: 0;
    }
}


.mtg-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    align-items: start;
    margin-top: var(--xs-spacing);

    .mtg-grid-item-1,
    .mtg-grid-item-2,
    .mtg-grid-item-3 {

        display: grid;
        gap: var(--sm-spacing);

        .mtg-grid-item-content {
            display: grid;
            gap: 0.5rem;
            align-items: start;

            p {
                grid-column: span 2;
                margin: 0;
            }

            ul {
                list-style: none;
                margin: 0;
            }

            img {
                width: 15px;
                height: 15px;
                margin: 0;
            }
        }

    }

    .mtg-grid-item-4,
    .mtg-grid-item-5 {
        display: grid;
        gap: 0.5rem;

        p {
            margin: 0;
        }

        ul {
            list-style: none;
            margin: 0;
        }
    }

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--sm-spacing);

        .mtg-grid-item-1,
        .mtg-grid-item-2,
        .mtg-grid-item-3,
        .mtg-grid-item-4 {
            display: grid;
            gap: 0.5rem;

            .mtg-grid-item-content {
                p {
                    grid-column: span 2;
                    margin: 0;
                }

                ul {
                    margin: 0;

                    li {
                        margin: 0;
                    }
                }
            }
        }

        .mtg-grid-item-4,
        .mtg-grid-item-5 {
            display: grid;
            gap: 0.5rem;

            p {
                margin: 0;
            }

        }
    }

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--sm-spacing);

        .mtg-grid-item-1,
        .mtg-grid-item-2,
        .mtg-grid-item-3,
        .mtg-grid-item-4 {
            display: grid;
            gap: var(--sm-spacing);


            .mtg-grid-item-content {
                grid-template-columns: repeat(2, 1fr);
                align-items: start;
                grid-template-rows: auto auto;


                p {
                    grid-column: span 2;
                    margin: 0;
                }

                ul {
                    margin: 0;

                    li {
                        margin: 0;
                    }
                }
            }
        }
    }
}